{
  "vectorLearningRate": 0.5,
  "matrixLearningRate": 0.5,

  "vectorCompositionNetwork": {
    "params": {
      "numEpochs": 100000,
      "itersPerEpoch": 1,
      "minibatchSize": 1,
      "learningRate": 0.1,
      "lambda": 0.01,
      "objectiveFunction": "MEAN-SQUARED",
      "itersBetweenWritingModel": 10000000
    },
    "topology": [
      {
        "type": "Affine",
        "inputDim": 2,
        "outputDim": 1
      },
      {
        "type": "Relu2",
        "dim": 1
      }
    ]
  },

  "matrixCompositionWeights": {
    "learningRate": 0.1,
    "lambda": 0.01,
    "objectiveFunction": "MEAN-SQUARED"
  }
}