{
  "params": {
    "numEpochs": 30,
    "itersPerEpoch": 1,
    "minibatchSize": 16,
    "learningRate": 0.01,
    "lambda": 0.001,
    "objectiveFunction": "CROSS-ENTROPY",
    "itersBetweenWritingModel": 10
  },

  "topology": [
    {
      "type": "Affine",
      "inputDim": 1,
      "outputDim": 2
    },
    {
      "type": "Softmax",
      "dim": 2
    }
  ]
}