{
  "params": {
    "numEpochs": 10,
    "itersPerEpoch": 1,
    "minibatchSize": 8,
    "learningRate": 0.01,
    "lambda": 0.0,
    "objectiveFunction": "MEAN-SQUARED",
    "itersBetweenWritingModel": 4
  },

  "topology": [
    {
      "type": "Affine",
      "inputDim": 784,
      "outputDim": 30
    },
    {
      "type": "Relu2",
      "dim": 30
    },
    {
      "type": "Affine",
      "inputDim": 30,
      "outputDim": 10
    },
    {
      "type": "Softmax",
      "dim": 10
    }
  ]
}