{
  "params": {
    "numEpochs": 8,
    "itersPerEpoch": 1,
    "minibatchSize": 8,
    "learningRate": 1.0,
    "lambda": 0.0,
    "objectiveFunction": "CROSS-ENTROPY",
    "itersBetweenWritingModel": 4
  },

  "topology": [
    {
      "type": "Affine",
      "inputDim": 784,
      "outputDim": 30
    },
    {
      "type": "Relu",
      "dim": 30
    },
    {
      "type": "Affine",
      "inputDim": 30,
      "outputDim": 30
    },
    {
      "type": "Relu",
      "dim": 30
    },
    {
      "type": "Affine",
      "inputDim": 30,
      "outputDim": 30
    },
    {
      "type": "Relu",
      "dim": 30
    },
    {
      "type": "Affine",
      "inputDim": 30,
      "outputDim": 10
    },
    {
      "type": "Softmax",
      "dim": 10
    }
  ]
}