{
  "params": {
    "numEpochs": 10,
    "itersPerEpoch": 1,
    "minibatchSize": 1,
    "learningRate": 1.0,
    "lambda": 0.0,
    "objectiveFunction": "MEAN-SQUARED",
    "itersBetweenWritingModel": 10
  },

  "topology": [
    {
      "type": "Affine",
      "inputDim": 2,
      "outputDim": 1
    },
    {
      "type": "Relu2",
      "dim": 2
    }
  ]
}